<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <h2 style="color: #FFFFFF; font-weight: bold;">Avanzamos contigo</h2>
                        <div class="col-lg-12 text-justify">
                            <p class="lead text-white">Somos una empresa venezolana de innovacion tecnologica.
                                Asesoramos y acomapañamos a nuestros clientes en la transformacion de sus productos y
                                servicios a traves del diseño de modelos disruptivos y desarrollo de ecosistemas
                                digitales </p>
                            <div class="btn-wrapper mt-5">
                                <a class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0" [routerLink]="['/contact-us']">
                                    <span class="btn-inner--icon"><i class="fa fa-phone"></i></span>
                                    <span class="btn-inner--text">Contactenos</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>

        <section class="section bg-secondary">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6">
                        <div class="card bg-default shadow border-0">
                            <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
                            <blockquote class="card-blockquote">
                                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                                    <polygon points="0,52 583,95 0,95" class="fill-default" />
                                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                                </svg>
<!--                                <h4 class="display-3 font-weight-bold text-white">Nuestro Proposito</h4>-->
<!--                                <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.</p>-->
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pl-md-5">
                            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
                                <i class="ni ni-settings"></i>
                            </div>
                            <h3>Nuestro Propósito</h3>
                            <p class="lead">Acompañar a nuestros clientes y colaboradores en desarrollar su potencial y capacidades
                                para crear soluciones innovadoras, a traves de una alianza eficiente, confiable y sustentable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section pb-0 bg-gradient-warning">
            <div class="container">
                <div class="pl-7">
                    <h2 class="display-3 text-white"> Explora nuestros servicios</h2>
                </div>
                <div class="row row-grid align-items-center">
<!--                    <div class="col-md-6 order-lg-2 ml-lg-auto">-->
<!--                        <div class="position-relative pl-md-2">-->
<!--                            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="col-lg-6 order-lg-1">
                        <div class="card shadow shadow-lg--hover mt-3">
                            <div class="card-body">
                                <div class="d-flex px-3">
                                    <div>
                                        <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                            <i class="ni ni-satisfied"></i>
                                        </div>
                                    </div>
                                    <div class="pl-4">
                                        <h5 class="title text-success">Servicios de Aplicaciones</h5>
                                        <a href="javascript:void(0)" class="text-warning">Leer mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow shadow-lg--hover mt-3">
                            <div class="card-body">
                                <div class="d-flex px-3">
                                    <div>
                                        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                    </div>
                                    <div class="pl-4">
                                        <h5 class="title text-warning">Consultoria de Negocios</h5>
                                        <a href="javascript:void(0)" class="text-success">Leer mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="card shadow shadow-lg--hover mt-3">
                            <div class="card-body">
                                <div class="d-flex px-3">
                                    <div>
                                        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                    </div>
                                    <div class="pl-4">
                                        <h5 class="title text-warning">Estrategias Experiencia Cliente (CX)</h5>
                                        <a href="javascript:void(0)" class="text-success">Leer mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow shadow-lg--hover mt-3">
                            <div class="card-body">
                                <div class="d-flex px-3">
                                    <div>
                                        <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                            <i class="ni ni-satisfied"></i>
                                        </div>
                                    </div>
                                    <div class="pl-4">
                                        <h5 class="title text-success">Cultura y Capacidadades Digitales</h5>
                                        <a href="javascript:void(0)" class="text-warning">Leer mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>



    </div>
    <!--  <app-sections></app-sections>-->
</main>
